
lucas.mp3
__pycache__/responses.cpython-310.pyc
__pycache__/bot.cpython-38.pyc
__pycache__/bot.cpython-310.pyc
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/discord_bot.iml
